argon2-cffi
attrs
backcall
beautifulsoup4
bleach
certifi
cffi
charset-normalizer
click
colorama
cycler
debugpy
decorator
defusedxml
dominate
entrypoints
Flask
Flask-Bootstrap
Flask-Datepicker
Flask-SQLAlchemy
Flask-WTF
greenlet
gunicorn
idna
ipykernel
ipython
ipython-genutils
ipywidgets
itsdangerous
jedi
Jinja2
joblib
jsonschema
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kiwisolver
lxml
MarkupSafe
matplotlib
matplotlib-inline
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
opencv-python
packaging
pandas
pandocfilters
parso
pickleshare
Pillow
prometheus-client
prompt-toolkit
pvlib
pycparser
Pygments
pyparsing
pyrsistent
python-dateutil
pytz
pyzmq
qtconsole
QtPy
requests
scikit-learn
scipy
Send2Trash
simplejson
six
sklearn
soupsieve
SQLAlchemy
terminado
testpath
threadpoolctl
tornado
traitlets
urllib3
visitor
wcwidth
webencodings
Werkzeug
widgetsnbextension
WTForms
mysql
PyMySQL
mysql-connector-python
