{% extends 'base.html' %}

{% block title %}
Построение моделей прогнозирования СИ
{% endblock %}

{% block body %}

<head>

  <style>

.block {
  width: 600px;
  padding-bottom: 15px;
  margin:0 auto;

}
.block2 {
  width: 1200px;
  min-height: 160px;
  padding-top: 15px;
  margin:0 auto;
}

.block3 {
  width: 200px;
  margin:0 auto;
}

.block33 {
  width: 100px;
  margin:0 auto;
  padding-bottom: 10px;
}

.block4 {
  width: 1200px;
  margin:0 auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 25px;
  font-size: 32px;
}

.block5 {
  width: 800px;
  margin:0 auto;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
  font-size: 22px;
}

.block6 {
  width: 600px;
  margin:0 auto;
  border:1px solid #cecece;
}

.block7 {
  width: 1200px;
  margin:0 auto;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 18px;
}

.center {
  position: absolute;
/*  top: 0;
  bottom: 0; */
  left: 0;
  right: 0;
  margin: auto;
}
</style>



<script>

        $(function() {
    $('#upload-file-btn').click(function() {
        var form_data = new FormData($('#upload-file')[0]);
        $.ajax({
            type: 'POST',
            url: '/uploadajax',
            data: form_data,
            contentType: false,
            cache: false,
            processData: false,
            success: function(data) {
                console.log('Success!');
            },
        });
    });
});


        function load_inputs() {
            $.('#upload-file-btn').click(function()({
                type: "POST",
                url: "/build_forecasting_models",
                data: $('form').serialize(),
                type: 'POST',
                success: function (data) {
                    Plotly.newPlot('chart', result, {staticPlot: true});;
                },
                error: function(error) {
                    console.log(error);
                }
            });
        }
    </script>

</head>

<h5 class="display-6 block4">Построение модели прогнозирования СИ</h5>

<p class="lead block5">
  На этой странице можно построить модель прогнозирования солнечного излучения и скачать модели для дальнейшего использования
</p>


<form class="row align-items-center block6" >
  <p class="lead block7">
  1. Ввод исходных данных
</p>
  <label for="geo_coord" class="form-label text-center">Геоданные</label>
  <div class="row align-items-center block" id="geo_coord">
  <div class="col">
    <input id="lat" name="latitude" type="text" class="form-control" placeholder="Широта" aria-label="First name">
  </div>
  <div class="col" >
    <input id="lon" name="longitude" type="text" class="form-control" placeholder="Долгота" aria-label="Last name">
  </div>
</div>
  <div class="row align-items-center block" id="geo_coord2">
  <div class="col" >
    <input id="alt" name="altitude" type="text" class="form-control" placeholder="Высота над уровнем моря, м" aria-label="First name">
  </div>
  <div class="col">
    <input id="tz" name="timezone" type="text" class="form-control" placeholder="Часовой пояс" aria-label="Last name">
  </div>
</div>
</form>

<br>

<form class="row align-items-center block6" >
  <p class="lead block7">
  2. Загрузка массива данных для обучения
</p>

  <figure class="figure">
  <img src="https://i.ibb.co/PCt3z1w/sample-csv.png"  class="figure-img img-fluid rounded">
  <figcaption class="figure-caption text-center">Пример содержимого файла с массивом данных</figcaption>
</figure>

  <label for="geo_coord" class="form-label text-center">Требуемое расширение файла - .csv</label>

  <div class="input-group" style="width: 585px;padding-left: 24px;padding-bottom: 10px;">
  <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload">
  <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04">Загрузить</button>
  </div>

  <label for="geo_coord" class="form-label text-center">Введите наименования столбцов с предикторами через запятую</label>
  <input class="form-control" type="text" placeholder="Например, T, U, Cl, aoi" aria-label="default input example">

  <label for="geo_coord" class="form-label text-center">Введите наименования столбца с предиктантом</label>
  <input class="form-control" type="text" placeholder="Например, I" aria-label="default input example">

</form>

<br>
<form class="row align-items-center block6" >
  <p class="lead block7">
  3. Выбор параметров модели прогнозирования
</p>

  <label for="geo_coord" class="form-label text-center">Тип модели прогнозирования</label>

  <div class="form-check block33">
  <input class="form-check-input" type="radio" name="flexRadioDefault1" id="flexRadioDefault1" disabled>
  <label class="form-check-label" for="flexRadioDefault1">
    Эндогенная (TS)
  </label>
</div>
  <div class="form-check block33">
  <input class="form-check-input" type="radio" name="flexRadioDefault2" id="flexRadioDefault2" disabled>
  <label class="form-check-label" for="flexRadioDefault2">
    Экзогенная (TS)
  </label>
</div>

<div class="form-check block33" >
  <input class="form-check-input" type="radio" name="flexRadioDefault3" id="flexRadioDefault3" checked>
  <label class="form-check-label" for="flexRadioDefault3">
    Экзогенная (NWP)
  </label>
</div>

    <label for="geo_coord" class="form-label text-center">Математическая модель обучения</label>

  <div class="form-check block33">
  <input class="form-check-input" type="radio" name="flexRadioDefault4" id="flexRadioDefault4" disabled>
  <label class="form-check-label" for="flexRadioDefault4">
    k-ближ. соседей
  </label>
</div>
  <div class="form-check block33">
  <input class="form-check-input" type="radio" name="flexRadioDefault5" id="flexRadioDefault5" disabled>
  <label class="form-check-label" for="flexRadioDefault5">
    Случайный лес
  </label>
</div>

<div class="form-check block33" >
  <input class="form-check-input" type="radio" name="flexRadioDefault6" id="flexRadioDefault6" checked>
  <label class="form-check-label" for="flexRadioDefault6">
    Многослойный перцептрон
  </label>
</div>

  <label for="geo_coord" class="form-label text-center">Глубина модели</label>

<div class="form-check" style="width: 200px;margin:0 auto;">
  <input id="range1" type="range" value="100" min="50" max="200" step="10" oninput="this.nextElementSibling.value = this.value">
  <output>100</output>
  <label class="form-check-label text-center" for="range1" style="font-size: 14px">
    Количество нейронов в скрытом слое
  </label>
  <input id="range2" type="range" value="200" min="50" max="950" step="50" oninput="this.nextElementSibling.value = this.value">
  <output>200</output>
  <label class="form-check-label text-center" for="range1" style="font-size: 14px">
    Максимальное число итераций обучения
  </label>
</div>
</form>

  <div class="col-auto" style="width: 150px; margin:0 auto; padding-top: 15px; padding-bottom: 15px">

    <button type="submit" class="btn btn-primary" onclick="get_geo();">Обучить модель</button>
  </div>

<form class="row align-items-center block6" >
  <p class="lead block7">
  4. Проверка обученной модели
</p>

  <label for="geo_coord" class="form-label text-center">Тип модели прогнозирования</label>
  <figure class="figure" style="width: 400px;margin:0 auto;">
  <img src="https://r-coder.com/wp-content/uploads/2020/08/correlation-plot-r.png"  class="figure-img img-fluid rounded">
  <figcaption class="figure-caption text-center" style="padding-bottom: 15px">Диаграмма рассеяния между предсказанными и фактическими значениями СИ</figcaption>
  </figure>


  <label for="geo_coord" class="form-label text-center">Метрики ошибок</label>
  <table class="table table-striped table-hover" style="width: 500px; margin:0 auto;">
  <thead>
      <tr>
        <th>Метрика</th>
        <th>Наивная инерционная модель</th>
        <th>Обученная модель</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>MAE, Вт/кв.м</td>
        <td>-999</td>
        <td>-999</td>
      </tr>
      <tr>
        <td>RMSE, Вт/кв.м</td>
        <td>-999</td>
        <td>-999</td>
      </tr>
      <tr>
        <td>nRMSE, %</td>
        <td>-999</td>
        <td>-999</td>
      </tr>
      <tr>
        <td>R, о.е.</td>
        <td>-999</td>
        <td>-999</td>
      </tr>
    </tbody>
  </table>


</form>



  <div class="col-auto" style="width: 200px; margin:0 auto; padding-top: 15px; padding-bottom: 15px">

    <button type="submit" class="btn btn-success" onclick="get_geo();">Cкачать файлы модели</button>
  </div>


{% endblock %}
